<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contactus.css">
</head>
<body>
    
    <div class="container">
        <form action="/success" method = "POST">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="phonenumber">Ph. No.</label>
          <input type="text" id="phonenumber" name="phonenumber" placeholder="Your Your Number">

          <label for="email">Email ID</label>
          <input type="text" id="email" name="email" placeholder="Your Email ...">

      
          <input type="submit" value="Submit">
      
        </form>
      </div>

</body>
</html>